@media screen and (min-width: 768px) and (max-width: 1365px) {
    .footer {
    align-items: center;
    display: flex;
    height: 15vh;
    justify-content: space-between;
    margin: 20px 5vw;

    ul {
      display: flex;
      list-style: none;

      li {
        color: $ScndFontColor;
        font-family: $SecondaryFont;
        font-size: 14pt;
        // margin-right: 80px;
        margin-right: 4vw;
      }

      li:hover { cursor: pointer; }
    }

    img {
      width: 40px;
    }
  }
}