/*

  This should be the only file that gets imported into `index.jsx`.
  Webpack will automatically compile scss/sass files as inline styling
  within the output file `dist/bundle.js` using `sass-loader`

  Add more styling by create a partial file first with the underscore naming convention
  and import it into this file using @rules. 

*/


// import variables partial files
@import './variables/_variables.scss';
@import './variables/_defaults.scss';
@import './variables/_UIResponses.scss';

// import vendors
@import './vendors/_fontsList.scss';
@import './vendors/_match-rating.scss';

// import pages
@import './pages/_loginPage.scss'; 
@import './pages/_missionPage.scss';
@import './pages/_findTalent.scss';
@import './pages/_404.scss';
@import './pages/_dashboard.scss';
@import './pages/_signUp.scss';
@import './pages/_forgotPassword.scss';
@import './pages/_resetPassword.scss';
@import './pages/_settings.scss';
@import './pages/_verify.scss';
@import './pages/_QnA.scss';
@import './pages/_privacyPolicy.scss';
@import './pages/_termsOfUse.scss';
@import './pages/_requestADemo';
@import './pages/_faq.scss';

// landing page is currently split, will refactor this section soon //
@import './pages/landing-page/_landingPageHeader.scss';
@import './pages/landing-page/_aboutHeader.scss';
@import './pages/landing-page/_aboutMain.scss';
@import './pages/landing-page/_callToAction.scss';
@import './pages/landing-page/_disclaimer.scss';
////////////////////////////////////////////////////////////////////

// import parts (components)
@import './parts/_navigation.scss';
@import './parts/_navigation2.scss';
@import './parts/_profileCard.scss';
@import './parts/_jobList.scss';
@import './parts/_reminder.scss';
@import './parts/_jobListing.scss';
@import './parts/_editor.scss';
@import './parts/_webFooter.scss';
@import './parts/_footer.scss';
@import './parts/_rnpModule.scss';
@import './parts/_sideNav.scss';
@import './parts/_profileEditor.scss';
@import './parts/_notice.scss';
@import './parts/_accountEditor.scss';
@import './parts/_divider.scss';
@import './parts/_jobPreferenceEditor.scss';
@import './parts/_subscribeEmail.scss';
@import './parts/_betaBanner.scss';
@import './parts/_breadcrumbs.scss';
@import './parts/_skillBank.scss';
@import './parts/_availableHours.scss';
@import './parts/_hireSelect.scss';
@import './parts/_passwordField.scss';
@import './parts/_profilePic.scss';

// import employer side components
@import './pages/employer/_eSignUp.scss';
@import './pages/employer/_eSignIn.scss';
@import './pages/employer/_jobForm.scss';
@import './pages/employer/_firstPayment.scss';
@import './pages/employer/_gigSelect.scss';
@import './pages/employer/_jobViewer.scss';
@import './pages/employer/_employerJobListing.scss';
@import './pages/employer/_matchViewer.scss';
@import './pages/employer/_matchWindow.scss';

// import elements
@import './elements/_buttons.scss';
@import './elements/_headings.scss';
@import './elements/_links.scss';
@import './elements/_paragraphs.scss';
@import './elements/_inputs.scss';
@import './elements/_sections.scss';
@import './elements/_forms.scss';
@import './elements/_lists.scss';
@import './elements/_labels.scss';
@import './elements/_textarea.scss';
@import './elements/_selects.scss';
@import './elements/_spans.scss';

// import containers
@import './containers/_buttonGroup.scss';
@import './containers/_message.scss';

// grids
@import './grids/_grids.scss';

/* ---------------------------------------------------------------------
  Below is responsive styling files

  Mess with this later
 --------------------------------------------------------------------- */

// // import tablet container style files
// @import './responsive/tablet/_tabletNavigation.scss';
// @import './responsive/tablet/_tabletMainHeader.scss';
// @import './responsive/tablet/_tabletAboutHeader.scss';
// @import './responsive/tablet/_tabletAboutMain.scss';
// @import './responsive/tablet/_tabletCallToAction.scss';
// @import './responsive/tablet/_tabletFooter.scss';

// // import mobile container style files
// @import './responsive/mobile/_mobileNavigation.scss';
// @import './responsive/mobile/_mobileMainHeader.scss';
// @import './responsive/mobile/_mobileAboutHeader.scss';
// @import './responsive/mobile/_mobileAboutMain.scss';
// @import './responsive/mobile/_mobileCallToAction.scss';
// @import './responsive/mobile/_mobileFooter.scss';