<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- importing fonts -->
  <link href="https://fonts.googleapis.com/css?family=Cambo|Open+Sans&display=swap" rel="stylesheet">  <title>RemoteReq | Global Talent Network</title>

  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" href="../assets/img/RR-cobalt.png"/>
</head>
<body>

  <div id="App"></div>

</body>
</html>