.button-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.job-form-nav-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.checkbox-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}