// colors or RemoteReq

// primary button background color
$PrmColor: #fff;

// secondary button color
$ScndColor: #1d39eb;

// tertiary button color
$TrtColor: #455efd;

// fonts
$MainFont: 'cambo';
$SecondaryFont: 'Open Sans';

// font colors
$PrmFontColor: #000;
$ScndFontColor: #595959;