.input-error{
  // background-color: pink;
  border: 2px solid red;
}

// Need errors for textarea, radio, checkbox, select
.radio-error {
  
}

.checkbox-error {

}

.textarea-error {

}

.select-error {

  .select {
    border: 2px solid red;
  }
}

// message paragraph (explains error)
.error {
  font-family: $SecondaryFont;
  font-size: 8pt;
  color: red;
  line-height: initial;
}

// Toggles
.display {
  display: initial;
}

.hide {
  display: none !important;
}