.about-header {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;

  .box {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 8% 0;

    img {
      width: 60px;
      max-height: 100%;
    }

    h3 {
      font-size: 18pt;
    }
    
    p {
      color: $SecondaryFontColor;
    }

  }
}

@media screen and (max-width: 960px) {
  .about-header {
    .box {
      padding: 10% 0;
      width: 100%;
    }
  }
}

@media screen and (max-width: 720px) {
  .about-header {
    display: flex;
    flex-direction: column;
  }
}