.about-main {
  display: flex;
  flex-direction: column;
  padding: 10vh 10vw 0 10vw;

  .about {
    margin-bottom: 34px;
    width: 48%;
  }

  h1 {
    margin-bottom: 34px;
  }

  h3 {
    margin-bottom: 34px;
  }
}
