.about-header {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10% 0 10%;

  .box {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 8% 0 8% 0;

    img {
      height: 40px;
      max-width: 40px;
    }

    h3 {
      font-family: $SecondaryFont;
      font-size: 18pt;
    }
    
    p {
      font-family: $SecondaryFont;
      font-size: 14pt;
      color: $SecondaryFontColor;
    }

  }
}

@media screen and (max-width: 960px) {
  .about-header {
    .box {
      padding: 10% 0;
      width: 100%;
    }
  }
}

@media screen and (max-width: 720px) {
  .about-header {
    display: flex;
    flex-direction: column;
  }
}