.about-header {
  display: flex;
  padding: 10vh 10vw 0 10vw;
  margin-bottom: 37px;

  .box {
    padding-right: 75px;

    img {
      width: 60px;
    }

    h3 {
      margin: 34px 0;
    }

  }
}
