.disclaimer {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    background-color: white;
    height: auto;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      color: $SecondaryColor;
    }

    .disclaimer-box {
      border: 1px solid $SecondaryColor;
      // width: 100%;
      padding: 8px;
      margin: 8px;
    }

    a {
      color: $SecondaryColor;
      text-decoration: none;
    }

    .accept {
      display: inline-block;
      padding-right: 10px;
      white-space: nowrap;

      input {
        vertical-align: middle;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .disclaimer{
    // display: none;

    .modal {
      width: 80vw;
    }
  }
}