.landingPage-header {
  background: #fbf9f4;
  padding: 4% 10%;
  display: flex;
  justify-content: space-between;
  position: relative;

  .landingPage-heading-btns {
    width: 30vw;

    .heading {

      h1 {
        font-size: 48pt;
        margin-bottom: 37px;
      }
      
      p {
        font-size: 16pt;
        padding-bottom: 37px;
      }

    }

    .button-and-link{

      div:first-child {
        padding-bottom: 20px;
      }

    }
  }

  img {
    z-index: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
  }
}
