.landingPage-header {
  background: #fbf9f4;
  padding: 4% 10%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  position: relative;

  .landingPage-heading-btns {
    width: 50%;
    z-index: 1;

    .heading {

      h1 {
        margin-bottom: 36px;
      }
      
      p {
        padding-bottom: 36px;
      }

    }

    .button-and-link{
      display: flex;
      flex-direction: column;
    }
  }

  img {
    z-index: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100%;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .landingPage {
    padding: 70px 0 0 0;
  }

  .landingPage-header {
    .landingPage-heading-btns {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    img {
      opacity: 0.15;
    }
  }
}