.gig-select-page {
  background-color: $BackgroundColor;
  display: flex;
  justify-content: space-evenly;

  form {
    background-color: white;
    margin: 4vw 4vh;
    
    .gig-select {
      display: flex;
      width: 50vw;
      height: 50vh;
      justify-content: space-between;

      .gig-select-choice {
        border: 1px solid lightgrey;
        // box-shadow: 4px 4px 20px #e2e2e2;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80%;
        width: 100%;
  
        .gig-select-image {
          background-color: gray;
          height: 50%;
        }
        
        p {
          font-size: 12pt;
        }
      }
    }

    .gig-select-choice:hover {
      background-color: blue;
      color: white;

      p {
        color: white
      }
    }

    a {
      width: 48%;
      height: 100%;
      text-decoration: none;
      color: inherit;
    }


    .gig-select-choice:hover {
      box-shadow: 1px 1px 20px #e2e2e2;

    }
  }
}