.gig-select-page {
  background-color: $BackgroundColor;
  display: flex;
  justify-content: space-evenly;
  padding: 18vh;
  // height: 100vh;

  .gig-select-2{
    background-color: white;
    margin: 4vh 0;
    width: 600px;
  }

  form {
    background-color: white;
    height: auto;

    width: 600px;

    p {
      text-align: center;
    }
    
    .gig-select {
      display: flex;
      justify-content: space-between;
      padding: 24px 0;
    }
  }
}

@media Screen and (max-aspect-ratio: 8/5) {
  .gig-select-page {

  }
}

@media Screen and (max-aspect-ratio: 1/1) {
  .gig-select-page {
    padding: 90px 0;
  }

  .gig-select {
    flex-direction: column;

  }
}