.job-viewer {
  background-color: $BackgroundColor;
  display: flex; 
  flex-direction: column;
  // justify-content: center;
  padding: 10vh 0;

  form {
    margin: 5vh 25vw;
    background-color: white;
    widtH: 1000px;

    .small-paragraph {
      line-height: 20pt;
    }

    li {
      font-size: 14pt;
    }

    .job-tools {
      display: flex;
      justify-content: flex-end;

      div {
        button {
          margin: 0 12px;
        }
      }
    }

    .title-cluster {
      display: flex;
    }

    .title-and-company {
      margin-left: 24px;
    }

    .logo-box {
      // width: 150px;
      height: 150px;
      // background-color: lightgray;
      border: 1px solid #ebebeb;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .title-and-edit {
      display: flex;
      justify-content: space-between;

      h3 {
        color: $SecondaryColor;
      }
      
    }

    .job-viewer-match-list {
      display: flex;
      margin: 10px;
    }

    .job-headline {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-flow: column;
      // border: 1px solid lightgray;
      margin: 0 0 24px 0;

      .job-headline-column {
        border: 1px solid lightgray;
        padding: 12px;
      }
    }
  }

  a {
    text-decoration: none;
  }

  .match-icon {
    border-radius: 50%;
    border: 6px solid $SecondaryColor;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    p {
      color: $SecondaryColor; 
    }
  }
}

@media Screen and (max-aspect-ratio: 8/5) {
  .job-viewer {
    
    form {
      margin: 4vh auto;

      .job-headline {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }
    }
  }
}

@media Screen and (max-aspect-ratio: 1/1) {

  .job-viewer {

    form {
      margin: 4vh auto;
      width: auto;

      .logo-box {
        height: 100px;
      }
    }

  }
}
