.job-viewer {
  background-color: $BackgroundColor;
  display: flex;
  justify-content: center;

  .job-viewer-match-list {
    display: flex;
  }

  form {
    margin: 4vh 0;
    width: 60%;
    background-color: white;

    .title-and-edit {
      display: flex;
      justify-content: space-between;

      h3 {
        color: $SecondaryColor;
      }
    }
  }


  a {
    text-decoration: none;
  }

  .match-icon {
    border-radius: 50%;
    border: 6px solid $SecondaryColor;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    p {
      color: $SecondaryColor; 
    }
  }
}