.match-viewer {
  background-color: $BackgroundColor;
  display: flex;
  justify-content: center;
  padding: 10vh 0;

  form {
    margin: 4vh 25vw;
    width: 100%;
    background-color: white;

    p{
      line-height: 20pt;
    }

    .match-viewer-header {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media Screen and (max-aspect-ratio: 8/5) {
  .match-viewer {
    
    form {
      margin: 4vh 8vw;
    }
  }
}

@media Screen and (max-aspect-ratio: 1/1) {
  .match-viewer {

    form {
      margin: 120px 4vw;
    }
  }
}