@media screen and (max-width: 767px) {
  .about-main {
    padding: 10vh 5vw 0 5vw;

    .about {
      margin-bottom: 34px;
    }

    .eyebrow {
      color: #e69e22;
      font-family: $SecondaryFont;
      // font-size: 20pt;
      font-size: 6vw;
      font-weight: bold;
      margin-bottom: 34px;
    }

    h1 {
      font-family: $MainFont;
      // font-size: 60pt;
      font-size: 15vw;
      font-weight: normal;
      // margin-bottom: 34px;
    }

    h3 {
      color: $SecondaryFontColor;
      font-family: $SecondaryFont;
      font-weight: normal;
      // font-size: 18pt;
      font-size: 5vw;
      font-weight: normal;
      line-height: 37px;
      margin-bottom: 20px;
    }

    a {
      color: $SecondaryColor;
      font-family: $SecondaryFont;
      // font-size: 22pt;
      font-size: 5.5vw;
      font-weight: bold;
    }

    .img-placeholder {
      background: #eeeeee;
      height: 300px;
      margin-top: 40px;
    }
  }
}