@media screen and (min-width: 768px) and (max-width: 1365px) {
    .call-to-action {
        align-items: center;
        background: #fbf9f4;
        display: flex;
        flex-direction: column;
        padding: 10vh 5vw;

        h1 {
            font-family: $MainFont;
            // font-size: 65pt;
            font-size: 6.5vw;
            font-weight: normal;
            margin-bottom: 37px;
            width: 70%;
        }

        .call-to-action-btns {
            button {
                background: $SecondaryColor;
                color: $PrimaryColor;
                font-size: 20pt;
                height: 60px;
                margin-bottom: 37px;
            }

            button:hover { cursor: pointer; }

            .cta-find-jobs { margin-right: 20px; }
            .cta-find-jobs:hover {
                background: $TertiaryColor;
                border-color: $TertiaryColor;
            }

            .cta-find-talent {
                background: $PrimaryColor;
                color: $SecondaryColor;
                margin-left: 20px;
            }

            .cta-find-talent:hover {
                background: $SecondaryColor;
                color: $PrimaryColor;
            }
        }
    }
}