// @media screen and (min-width: 768px) and (max-width: 1365px) {
@media screen and (min-width: 768px) and (max-width: 1365px) {
  .about-header {
    display: flex;
    justify-content: space-between;
    padding: 10vh 5vw 0 5vw;
    margin-bottom: 37px;

    .box {
      padding-right: 15px;
      width: 250px;
      img {
        width: 60px;
      }

      h3 {
        font-family: $SecondaryFont;
        // font-size: 28pt;
        font-size: 3vw;
        margin-bottom: 34px;
      }

      p {
        color: $SecondaryFontColor;
        font-family: $SecondaryFont;
        // font-size: 18pt;
        font-size: 2vw;
        line-height: 24px;
        // line-height: 3vh;
        margin-bottom: 34px;
      }
    }
  }
}