@media screen and (min-width: 768px) and (max-width: 1365px) {
  .landingPage-navBar {
      align-items: center;
      background: $PrimaryColor;
      display: flex;
    //   height: 10vh;
      height: 100px;
      justify-content: space-between;
      padding: 0 5vw;
      position: fixed;
      width: 100vw;

      .landingPage-name-menu {
          .remotereq-name { width: 200px; }

          .landingPage-menu { display: none; }

        }

        .landingPage-navBar-links {
            align-items: center;
            display: flex;

            button {
                font-size: 16px;
                border: 3px solid $SecondaryColor;
                height: 60px;
                padding: 0 1vw;
                margin-left: 10px;
            }

            .find-talent-btn {
                background: $PrimaryColor;
                color: $SecondaryColor;
            }

            .find-talent-btn:hover {
                background: $SecondaryColor;
                color: $PrimaryColor;
            }

            .log-in-btn {
                background: $SecondaryColor;
                width: 160px;

                a {
                    color: $PrimaryColor;
                    text-decoration: none;
                }
            }

            .log-in-btn:hover {
                background: $TertiaryColor;
                border-color: $TertiaryColor;
            }
        }
  }
}