.account-editor {

  h3 {
    padding: 0 40px;
  }

  form {
    display: grid;
    border: none;
    grid-template-columns: 1fr 1fr;

    input {
      padding: 10px 15px;
      font-size: 1rem;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}


@media screen and (max-aspect-ratio: 1/1) {
  .account-editor {
    padding: 0;

    form {
      display: flex;
      flex-direction: column-reverse;

      .image-column {
        margin: 0;
      }
    }
  }
}