.beta-banner {
  background-color: black;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 2;

  p {
    color: white;
    font-weight: bolder;
    font-size: 14pt;
    line-height: initial;
  }
}

@media screen and (max-width: 960px) {
  .beta-banner{
    // display: none;
  }
}