.beta-banner {
  background-color: $SecondaryColor;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1;

  p {
    color: white;
    font-size: 10pt;
    line-height: initial;
  }
}