.breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // button {
  //   padding: 0;
  // }

  .complete {
    background-color: white;
    color: $SecondaryColor;
  }

  .incomplete {
    background-color: white;
    color: lightgray;
  }

  .breadcrumb-bar {
    width: 100%;
    height: 5px;
  }
}

@media screen and (max-aspect-ratio: 8/5) {
}

@media screen and (max-aspect-ratio: 5/8) {
  .breadcrumbs {
    flex-direction: column;

    button, a {
      width: 100%;
    }
  }

  .breadcrumb-bar {
    display: none;
  }
}