.footer {
  height: 24vh;
  margin: 0 10vw 0 10vw;

  .upper-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
  }

  .divider {
    margin: 0;
  }

  .lower-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;

    .the-r {
      display: flex;
      align-items: center;

      p {
        margin: 0 40px;
        font-size: 14pt;
      }
    }

    .medias {
      display: flex;
      align-items: center;

      img {
        height: 20px;
        width: 20px;
      }

      .subscribe {

        button {
          background-color: $Yellow;
          color: white;
        }
      }
    }
  }

  ul {
    display: flex;
    list-style: none;

    li {
      color: $SecondaryFontColor;
      font-family: $SecondaryFont;
      font-size: 14pt;
      margin-right: 40px;

      a {
        text-decoration: none;
        color: #595959;
        font-size: 14pt;
      }
    }
  }

  img {
    width: 40px;
  }
}

@media screen and (max-aspect-ratio: 3/2) {
  .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 10px;
    padding-top: 50vh;
    z-index: -1;

    .upper-footer {
      flex-direction: column;
      height: auto;

      ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px 0;
        margin: 0;

        li {
          margin: 5px 0;
        }
      }
    }
    
    .lower-footer {
      flex-direction: column;

      .the-r {
        flex-direction: column;

        img {
          padding: 25px 0;
        }

        p {
          text-align: center;
        }
      }

      .medias {
        flex-direction: column;
        padding: 0 0 25px 0;

        .social-media-list {
          padding: 25px 0;
        }

        .subscribe {
          flex-direction: column;
          
          button {
            // font-size: 10pt;
          }
        }
      }
    }
  
  }
}