.footer {
  // align-items: center;
  // display: flex;
  height: 24vh;
  // justify-content: space-between;
  margin: 0 10vw 0 10vw;

  .upper-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;


  }

  .divider {
    margin: 0;
  }

  .lower-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;

    .the-r {
      display: flex;
      align-items: center;

      p {
        margin: 0 40px;
        font-size: 14pt;
      }
    }

    .medias {
      display: flex;

      input {
        padding: 0 10px;
        font-size: 14pt;
      }
      
      button{
        height: 40px;
        padding: 0 10px;
        font-size: 14pt;
      }
    }
  }

  ul {
    display: flex;
    list-style: none;

    li {
      color: $SecondaryFontColor;
      font-family: $SecondaryFont;
      font-size: 14pt;
      margin-right: 40px;

      a {
        text-decoration: none;
        color: #595959;
        font-size: 14pt;
      }
    }
  }

  img {
    width: 40px;
  }
}
