.footer {
  align-items: center;
  display: flex;
  height: 15vh;
  justify-content: space-between;
  margin: 0 10vw 0 10vw;

  ul {
    display: flex;
    list-style: none;

    li {
      color: $SecondaryFontColor;
      font-family: $SecondaryFont;
      font-size: 14pt;
      margin-right: 80px;

      a {
        text-decoration: none;
        color: #595959;
        font-size: 14pt;
      }
    }
  }

  img {
    width: 40px;
  }
}
