.job-listing {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 20px 0 20px 0;
  padding: 10px 0 20px 0;
  height: 15%;

  a {
    text-decoration: none;
  }

  .upper-job-listing {
    color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      padding-top: 8px;
      padding-right: 24px;
    }
  }

  h4 {
    color: $SecondaryColor;
    font-weight: bold;
    // text-decoration: underline;
    padding: 8px 24px 8px 24px;
  }

  h5 {
    font-size: 16pt;
    padding: 8px 24px 8px 24px;
    color: lightgray;
  }
  
  .see-job {
    text-decoration-line: underline;
    font-size: 18px;
    color: blue;
    font-weight: bolder;
    cursor: pointer;
  }

  .lower-job-listing {
    display: flex;
    justify-content: space-between;

    p {
      padding: 8px 24px; 
    }
    
    a {
      margin-left: 25px;
    }
  }

  .match-rating {
    display: flex;
    margin-top: 5px;
    padding-right: 24px;
    align-items: center;
  }

  // .percentage-circle {
  //   height: 20px;
  //   width: 20px;
  //   border: 3px solid $SecondaryColor;
  //   border-radius: 50%;
  // }


  .percentage-match {
    padding-left: 8px;
    line-height: unset;
    color: $SecondaryColor;
  }
}