.job-preference-editor {

  h3 {
    padding: 0px 40px;
  }
  
  h4 {
    padding: 0px 40px;
  }

  form {
    display: grid;
    border: none;
    grid-template-columns: 1fr 1fr;


    input {
      padding: 10px 15px;
      font-size: 1rem;
    }
  }
}