.job-listing {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 20px 0 20px 0;
  padding: 12px 30px;

  a {
    text-decoration: none;
  }

  .upper-job-listing {
    color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h4 {
    color: $SecondaryColor;
    font-weight: bold;
    // text-decoration: underline;
  }

  h5 {
    font-size: 16pt;
    color: lightgray;
  }
  
  // .see-job {
  //   text-decoration-line: underline;
  //   font-size: 18px;
  //   color: blue;
  //   font-weight: bolder;
  //   cursor: pointer;
  // }

  .lower-job-listing {
    display: flex;
    justify-content: space-between;
  }
  
  // .percentage-circle {
  //   height: 20px;
  //   width: 20px;
  //   border: 3px solid $SecondaryColor;
  //   border-radius: 50%;
  // }

  .percentage-match {
    display: flex;
    align-items: center;
    padding-left: 8px;
    line-height: unset;
    color: $SecondaryColor;
  }
}