.job-badges{
  display: flex;
  margin: 10px 0;
  position: relative;
  left: -4px;
  
  .job-badge {
    font-weight: bolder;
    color: white;
    // border-radius: 50px;
    padding: 4px 5px;
    margin: 0 8px 0 0;
    font-size: 12pt;
    line-height: 12pt;

  }

  .Remote {
    background-color: $Blue;
  }

  .Flexible {
    background-color: $BurntOrange;
  }

  .On-site {
    background-color: $Yellow;
  }

  .Part{
    background-color: gray;
  } 

  .Full {
    background-color: gray;
  }
}