.landingPage-header {
  background: #fbf9f4;
  // height: 100vh;
  height: 1000px;
  padding: 250px 10vw 0 10vw;

  .landingPage-heading-btns {
    width: 40vw;

    .heading {

      // h1 {
      //   font-family: $MainFont;
      //   font-size: 65pt;
      //   font-weight: normal;
      //   margin-bottom: 37px;
      // }

      // h3 {
      //   color: $SecondaryFontColor;
      //   font-family: $SecondaryFont;
      //   font-size: 20pt;
      //   font-weight: normal;
      //   line-height: 37px;
      //   margin-bottom: 37px;
      // }
    }
  }
}
