.landingPage-header {
  background: #fbf9f4;
  height: 1000px;
  padding: 50px 10vw 0 10vw;

  .landingPage-heading-btns {
    width: 30vw;

    .heading {

      h1 {
        margin-bottom: 37px;
      }

      p {
        padding-bottom: 37px;
      }

      .button-and-link{
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}
