.navigation-1 {
  align-items: center;
  background: #fff;
  display: flex;
  // height: 15vh;
  justify-content: space-between;
  padding: 50px 10vw 25px 10vw;
  width: 100%;
  z-index: 1;
}

.remotereq-name { width: 300px; }

.rr-logo { 
  display: none;
  width: 30px; 
}

.hamburger-menu-icon {
  display: none;
}

.navigation-1-links {
  display: flex;
  align-items: center;

  a {
    margin-left: 20px;
  }
}

.hamburger-menu {
  display: flex;
  align-items: center;

  a {
    margin-left: 20px;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .navigation-1 {
    position: fixed;
    padding: 40px 10vw 10px 10vw;
    z-index: 2;
  }

  .remotereq-name {
    display: none;
  }

  .rr-logo {
    display: initial;
  }

  .navigation-1-links {
    display: none;
  }

  .hamburger-menu-icon {
    display: initial;
  }

  .hamburger-menu {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 90px;
    height: auto;
    width: 100%;

    button {
      margin: 10px 0;
    }

    a {
      margin: none;
    }
  }
}