.landingPage-navBar {
  align-items: center;
  background: #fff;
  display: flex;
  height: 15vh;
  justify-content: space-between;
  padding: 0 10vw;
  width: 100%;
  z-index: 1;
}

.landingPage-name-menu {

  .remotereq-name { width: 300px; }

  .hamburgerMenu { display: none; }
}

.landingPage-navBar-links {
  display: flex;
  align-items: center;

  a {
    margin-left: 20px;
  }
}
