.dashboard-navBar {
  align-items: center;
  background: #fff;
  display: flex;
  height: 15vh;
  justify-content: space-between;
  letter-spacing: 1px;
  padding: 0 15vw;
  position: fixed;
  top: 25px;
  width: 100vw;
  z-index: 2;
  
  a{
    text-decoration: none;
  }
  
  .dashboard-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    img {
      max-width: 40px;
    }
    
    p {
      padding-left: 30pt;
    }
  }

  .dashboard-links {
    display: flex;
    align-items: center;

    img {
      width: 64px;
    }
  }
}

@media screen and (max-aspect-ratio: 8/5) {
  .dashboard-navBar {
    padding: 0 8vw;
  }

  .hamburger-menu {
    top: 60px;

    a { 
      margin: 0;
    }
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .dashboard-navBar {
    position: fixed;
    height: initial;
    padding: 15px 8vw 20px 8vw;
    box-shadow: 1px 1px 20px #c9c9c9;
    z-index: 2;

    .dashboard-home {
      p {
        padding-left: 0;
      }
    }
  }

  .dashboard-links {
    a {
      display: none;
    }
  }
}