.landingPage-navBar {
  align-items: center;
  background: #fff;
  display: flex;
  // height: 15vh;
  height: 150px;
  justify-content: space-between;
  letter-spacing: 1px;
  padding: 0 10vw;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.landingPage-name-menu {

  .remotereq-name { width: 300px; }

  .hamburgerMenu { display: none; }
}



.landingPage-navBar-links {
  display: flex;
  align-items: center;

    button {
      a {
        display: inline;
        color: $PrimaryColor;
        text-decoration: none;
        font-size: 14pt;
        white-space: nowrap;
        padding: 0;
      }
    }

  .find-talent-btn {
    background: $PrimaryColor;
    color: $SecondaryColor;
    margin-right: 20px;
  }

  .find-talent-btn:hover {
    background: $SecondaryColor;
    color: $PrimaryColor;
  }

  .log-in-btn {
    background: $SecondaryColor;
    color: $PrimaryColor;
    width: 200px;
  }

  .log-in-btn:hover {
    background: $TertiaryColor;
    border: 4px solid $TertiaryColor;
  }
}
