.profile-card {
  background: #fff;
  box-shadow: 4px 4px 20px #e2e2e2;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .profile-card-contents {
    padding: 40px;
  }

  // .profile-card-picture {
  //   width: 200px;
  //   border: 1px solid #ebebeb;

  //   img {
  //     max-height: 100%;
  //     max-width: 100%;
  //     display: block;
  //     margin: auto;
  //   }
  // }

  a {
    height: 45px;
  }

  .settings-icon {
    margin: 10px;
    height: 25px;
    width: 25px;
    opacity: 0.5;
  }

  h5 {
    margin: 15px 0;
    font-weight: 800;
  }

  p {
    line-height: initial;
    max-width: 300px;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .profile-card {
    display: none;
  }
}