.profile-card {
  background: #fff;
  box-shadow: 4px 4px 20px #e2e2e2;
  display: flex;
  margin: 4vh 0 4vh 15vw;

  .profile-card-contents {
    padding: 40px;
  }

  .profile-card-picture {
    width: 200px;
    height: 200px;
    background-color: lightgray;
  }

  h5 {
    margin: 15px 0;
    font-weight: 800;
  }

}