.profile-card {
  background: #fff;
  box-shadow: 4px 4px 20px #e2e2e2;
  display: flex;
  margin: 20vh 0 0 15vw;
  height: 80vh;
  width: 20vw;

  .profile-card-contents {
    padding: 20px;
  }

  .profile-card-picture {
    width: 200px;
    height: 200px;
    background-color: lightgray;
  }

  .profile-card-name{
    font-family: $SecondaryFont;
    font-weight: bolder;
  }

  .profile-card-profession{
    font-weight: lighter;
    font-family: $SecondaryFont;
    color: gray;
  }

  .profile-card-bio-header {
    font-family: $SecondaryFont;
    color: gray;
  }

  p {
    font-family: $SecondaryFont;
    color: lightgray;
  }

  .blue-block-button {
    padding: auto;
  }

  .profile-card-edit-button {
    padding: 20px;
  }
}