.profile-editor {

  h3 {
    padding: 0 40px;
  }

  form {
    display: grid;
    border: none;
    grid-template-columns: 3fr 2fr;

    input {
      padding: 10px 15px;
      font-size: 1rem;
    }

    .image-column {
      margin: 10px 25px;

      img {
        display: block;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
      }
      
      .upload-button {
        width: 100%;

        button {
          width: 100%;
        }
      }
    }
  }
}

.image-box {
  width: 100%;
  border: 1px solid #ebebeb;
}

@media screen and (max-aspect-ratio: 1/1) {
  .profile-editor {
    padding: 0;

    form {
      display: flex;
      flex-direction: column-reverse;

      .image-column {
        margin: 0;
      }
    }
  }
}