.profile-dropdown-menu {
    background: #fff;
    border: 1px solid #cacaca;
    font-size: 1.2rem;
    position: absolute;
    right: 10vw;
    top: 10vh;
    z-index: 1;
    width: 150px;

    ul {
        list-style: none;
        padding: .5rem;

        li {
            margin-bottom: 10px;
        }

        li:hover {
            cursor: pointer;
        }
    }
}