.reminder {
  background-color: $PrimaryColor;
  font-family: $SecondaryFont;
  max-height: 50%;
  padding: 2% 4%;
  box-shadow: 4px 4px 20px  #e2e2e2;

  h4 {
    color: #000000;
  }

  .reminder-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h4 {
      text-align: center;
      padding: 4% 0 4% 0;
    }
    
    p {
      padding: 2% 0%;
      text-align: center;
    }

    .questionnaire-button {
      display: flex;
      padding: 4% 0 10% 0;
      justify-content: center;
    }
  }
}