.rnp-module {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:  repeat(2, 1fr);
  margin: 100px 0;
  
  .cubelet {
    // border: 1px dotted gray;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
       max-width: 50%;
    }

    p {
      font-size: 16pt;
      font-weight: bolder;
      text-align: center;
    }
  }
}

@media screen and (max-width: 960px) {
  .rnp-module {
    margin: 0;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);


    .cubelet {
      margin: 20px;
    }
  }
}