.sideNav {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;

  button {
    width: 100%;
    background-color: white;
    border: 1px solid #ebebeb;
  }

  button:hover{
    background-color: #ebebeb;
  }

  button:focus {
    background-color: #ebebeb;
  }
}