.skill-bank {

  .skill-box {
    padding: 0 0 25px 0;
  }

  .skill {
    position: relative;
    display: flex;
    width: 90%;
    justify-content: space-between;

    .remove-icon {
      position: absolute;
      display: none;
      height: 100%;
      right: 20px;
    }
  }

  .skill:hover {

    .remove-icon {
      display: initial;
    }
  }
}

@media Screen and (max-aspect-ratio: 1/1) {
  .skill-bank {
    
    .skill {

      .remove-icon{
        display: initial;
      }
    }
  }
}

