.webfooter {
  background-color: $BackgroundColor;
  display: flex;
  height: auto;

  .webfooter-graphics {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;

    .webfooter-left {
      position: absolute;
      top: 0;
      left: 0;
    }

    .webfooter-content {
      width: 80%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      padding: 100px;
      
      h2 {
        padding-bottom: 100px;
        z-index: 1;
      }
      
      .webfooter-component{
        display: flex;

        a {
          margin: 0 10px;
        }
      }
    }

    .webfooter-right {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .webfooter {

    .webfooter-graphics {
      width: auto;
      height: auto;
      
        .webfooter-left {
        display: none;
      }
      
      .webfooter-content{
        width: 90%;
        padding: 50px;
        // border: 1px solid red;
      }
      
      .webfooter-right {
        display: none;
      }
    }
  }
}