.webfooter {
  background-color: $BackgroundColor;
  display: flex;
  height: 55vh;

  .webfooter-graphics {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;

    .webfooter-left {
      position: absolute;
      top: 0;
      left: 0;
    }

    .webfooter-content {
      width: 60%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      
      h2 {
        padding: 100px;
        z-index: 1;
      }
      
      .webfooter-component{
        display: flex;

        a {
          margin: 0 10px;
        }
      }
    }

    .webfooter-right {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}