.page-404 {
  display: flex;
  background-color: $BackgroundColor;
  justify-content: center;

  .message {
    padding: 125px 0;
    margin: 125px 0;
    width: 50%;
    text-align: center;
    
    p {
      font-family: $SecondaryFont;
    }
  }
}