.dashboard {
  display: grid;
  // justify-content: space-between;
  padding: 5vh 15vw;
  min-height: 80vh;
  grid-template-columns: 1fr 2fr;
  min-width: auto;
  grid-gap: 80px;
  background-color: $BackgroundColor;
}

@media screen and (max-aspect-ratio: 8/5) {
  .dashboard {
    min-height: 100vh;
    padding: 5vh 6vw;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .dashboard {
    grid-template-columns: 1fr;
    padding: 120px 6vw;
  }
}
