.find-talent-page {

  .find-talent-upper {
    display: flex;
    justify-content: space-between;
    background-color: $BackgroundColor;
    padding: 4% 10%;

    .find-talent-upper-left {
      width: 50%;
      padding: 0 4% 0 0;

      h1 {
        font-family: $MainFont;
        font-size: 48pt;
        font-weight: lighter;
      }

      p {
        font-family: $SecondaryFont;
        font-size: 16pt;
        color: $SecondaryFontColor;
        padding: 4% 0 4% 0;
      }
    }

    .find-talent-graphics {
      // right: 0;
      // width: 50%;
    }
  }

  .find-talent-mid {
    display: flex;
    justify-content: space-evenly;
    padding: 0 10% 0 10%;

    .mid-triplet {
      display: flex;
      flex-direction: column;
      width: 25%;
      padding: 8% 0 8% 0;

      img {
        width: 60px;
        max-height: 100%;
      }

      h3 {
        font-family: $SecondaryFont;
        font-size: 18pt;
      }

      p {
        font-family: $SecondaryFont;
        font-size: 14pt;
        color: $SecondaryFontColor;
      }
    }
  }

  .find-talent-pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 15%;

    .card-container {
      display: flex;
      justify-content: space-evenly;
      height: 200%;
      width: 100%;



      .pricing-card {
        padding: 4% 0;
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 4px 4px 20px #e2e2e2;

        h1 {
          padding: 0;
        }

        .pricing-card-title {
          font-weight: 600;
          color: $Yellow;
        }

        .pricing-card-price {
          font-family: $SecondaryFont;
          font-weight: 600;
          padding: 0;
        }

        .divider {
          width: 80%;
          border-bottom: 1px solid #e2e2e2;
        }

        .pricing-card-description {
          padding: 4% 0 0 0 ;
          height: 250px;
        }

      }
    }

    h1  {
      font-family: $MainFont;
      font-size: 36pt;
      font-weight: lighter;
      padding: 0 0 4% 0;
    }

    p {
      text-align: center;
      font-family: $SecondaryFont;
      color: $SecondaryFontColor;
      font-size: 14pt;
      padding: 2% 0;
    }
  }  
}

@media screen and (max-aspect-ratio: 1/1) {
  .find-talent-page {
    flex-direction: column;
    padding: 90px 0 0 0;

    .find-talent-upper {
      flex-direction: column;

      .find-talent-upper-left {
        width: 100%;
      }

      .find-talent-upper-graphics {
        display: none;
      }
    }

    .find-talent-mid {
      flex-direction: column;

      .mid-triplet {
        width: 100%;
      }
    }

    .find-talent-pricing {
      h1 {
        text-align: center;
      }

      .card-container {
        flex-direction: column;

        .pricing-card {
          padding: 0;
          margin: 4% 0;
          width: 100%;
        }
        
      }
    }
  }
}
