.find-talent-page {
  margin-top: 150px;

  .find-talent-upper {
    display: flex;
    background-color: $BackgroundColor;
    padding: 4% 8% 4% 8%;

    .find-talent-upper-left {
      width: 50%;
      padding: 0 4% 0 4%;

      h1 {
        font-family: $MainFont;
        font-size: 48pt;
        font-weight: lighter;
      }

      p {
        font-family: $SecondaryFont;
        font-size: 16pt;
        color: $SecondaryFontColor;
        padding: 4% 0 4% 0;
      }
    }

    .find-talent-graphics {
      width: 50%;
    }
  }
}