.request-a-demo {
  display: flex;
  background-color: $BackgroundColor;
  padding: 10vh 20vw;
  
  div {
    width: 100%;
    margin: 8%;
  }

  form {
    width: 100%;
    background-color: white;
    text-align: center;

    h3 {
      padding-bottom: 20px;
    }
  }
}

@media Screen and (max-aspect-ratio: 1/1) {
  .request-a-demo {
    padding: 20vh 0;
  }
}