.reset-password {
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 10px;
    }

    button {
      align-self: center;
    }
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .reset-password{
    padding: 15vh 0 0 0;
  }
}