.settings-page {
  display: flex;
  background-color: $BackgroundColor;
  justify-content: space-evenly;
  padding: 0 15vw;

  .settings-container {
    margin: 4vh 0;
    box-shadow: 4px 4px 20px #e2e2e2;
    background-color: #fff;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    
    .settings-selection {
      // border: 1px dotted gray;
      max-width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-aspect-ratio: 8/5) {
  .settings-page {
    padding: 0 8vw;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .settings-page {
    padding: 120px 8vw;
  }
}
