.terms-of-use {
  margin: 0 25vw;

  p {
    line-height: initial;
    font-size: 10pt;
  }

  .table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
  }
}

@media screen and (max-aspect-ratio: 8/5) {
  .terms-of-use {
    margin: 0 8vw;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .terms-of-use {
    padding: 90px 0;
    margin: 0 4vw;
  }
}