button {
  border: none;
  font-family: $SecondaryFont;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0;
  // font-size: 16pt;
  font-size: 12pt;
  // height: 80px;
  height: 60px;
  // letter-spacing: 2pt;
  letter-spacing: 1pt;
  // padding: 0 40px;
  padding: 0 30px;
}

button:hover { cursor: pointer; }

button {
  outline: none;
}

.big-button {
  height: 80px;
  margin: 20px 0;
  font-size: 16pt;
  padding: 0 50px;
}

.link-button {
  background-color: $BackgroundColor;
  border: none;
  margin: 0;
  padding: 0;
  text-transform: initial;
  letter-spacing: initial;
  text-decoration: underline;
  font-size: 14pt;
  color: $SecondaryColor;
  height: initial;
}

.link-button:hover {
  color: $TertiaryColor;
}

.small-button {
  font-size: 12pt;
  padding: 0 20px;
  height: 40px;
  letter-spacing: initial;
}

.button-1 {
  border: 4px;
  background: #0000ff;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  
  a {
    padding: 40px;
    display: inline;
    color: $PrimaryColor;
    text-decoration: none;
    white-space: nowrap;
    padding: 0;
  }
}

.button-1:hover {
  background: $TertiaryColor;
}

.button-2 {
  border: 4px solid $SecondaryColor;
  background: rgba(255, 255, 255, 0);
  color: $SecondaryColor;
  
  a {
    padding: 40px;
    display: inline;
    color: $PrimaryColor;
    text-decoration: none;
    white-space: nowrap;
    padding: 0;
  }
}

.button-2:hover {
  // background: $SecondaryColor;
  color: $TertiaryColor;
  border: 4px solid $TertiaryColor;
}

.e-button {
  border: 4px;
  background: $Yellow;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  
  a {
    padding: 40px;
    display: inline;
    color: $PrimaryColor;
    text-decoration: none;
    white-space: nowrap;
    padding: 0;
  }
}

.e-button-2 {
  border: 4px solid $Yellow;
  border-radius: 50px;
  background: white;
  color: $Yellow;
  font-family: "Open Sans", sans-serif;
  
  a {
    padding: 40px;
    display: inline;
    color: $PrimaryColor;
    text-decoration: none;
    white-space: nowrap;
    padding: 0;
  }
}

.button-prev {
  border: 4px solid $SecondaryColor;
  background: #fff;
  color: #0000ff;
  font-size: 12pt;
  padding: 0 20px;
  height: 40px;
  letter-spacing: initial;
}

.button-next {
  background: #0000ff;
  color: #fff;
  font-size: 12pt;
  padding: 0 20px;
  height: 40px;
  letter-spacing: initial;
}

.google-button {
  font-family: 'Roboto', 'sans-serif';
  background-color: white;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: none;
  letter-spacing: initial;
  font-size: initial;
  font-weight: initial;

  img {
    height: 48px;
    width: 48px;
  }
}

@media screen and (max-aspect-ratio: 8/5) {
  button {
    // height: 60px;
    // padding: 0 20px;
    // margin: 10px 0;
    // font-size: 12pt;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  button {
    // height: 80px;
    // padding: 0 20px;
    // margin: 10px 0;
    // font-size: 12pt;
  }
}