h1 {
  font-family: 'cambo', serif;
  font-size: 65pt;
  color: #000000;
  font-weight: normal;
}

h2 {
  font-family: 'cambo', serif;
  font-size: 55pt;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 28pt;
  font-weight: 600;
}