input {
  font-size: 1.3rem;
  height: 40px;
  margin-bottom: 10px;
  // padding: 0 .5rem;
  width: 100%;
  border: 2px solid #ebebeb;
  height: 40px;
  outline: none;
  padding: 25px 20px;
}

input:read-only {
  background-color: #ebebeb;
}

input {
  outline: none;
}

.radios {
  display: flex;
  align-items: center;

  input {
    margin: 20px;
    height: initial;
    width: initial;
  }
}

.input-file {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-file + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.input-file:focus + label,
.input-file + label:hover {
    background-color: red;
}

.input-file + label {
	cursor: pointer; /* "hand" cursor */
}

.input-file:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.slider {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 50px;

}