// override React-Router <Link/> styling
a {
  text-decoration: underline;
  padding-left: 0;
}

.large-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 18pt;
  color: #1D39EB;
  font-weight: 600;
}

.large-link:hover {
  color: #455EFD;
}

.small-link {
  color: #1D39EB;
  font-size: 12pt;
}

.small-link:hover {
  color: #455EFD;
}