// Going by the style guide, all <p/> tags share the same style. If anything goes south refer here
p {
  font-family: 'Open Sans', serif;
  font-size: 16pt;
  line-height: 35px;
  color: #595959;
  font-weight: normal;
}

.small-paragraph {
  font-size: 12pt;
}

.smaller-paragraph{
  font-size: 10pt;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}