section {
  display: flex;
  margin: 34px 0;
  justify-content: space-between;
  width: 100%;

  .section-desc {
    width: 40%;
  }

  .section-graphic {
    width: 50%;

    img {
      max-width: 100%;
      width: 100%;
    }
  }

  h1 {
    font-size: 48pt;
  }

  p {
    font-size: 16pt;
    line-height: 40px;
  }

  a {
    line-height: 150px;
  }
}

.middle-section {
  flex-direction: column;
  align-items: center;
}

.reverse-section {
  flex-direction: row-reverse;
}

@media screen and (max-width: 960px) {
  section {
    flex-direction: column;

    .section-desc {
      width: 100%;
    }

    .section-graphic {
      width: 100%;
    }
  }

  .reverse-section {
    flex-direction: column;
  }
}